/*
 *= require selectize
 *= require selectize.default
 *= require_tree .
 *= require_self

 */

 $link-color: rgb(0, 83, 255);
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgba(25, 28, 28, 0.07);


}

body { padding-top: 50px; }


@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}
