.container
  %h1 Editing attendance

  = render 'form'
  %br
  = link_to 'Back to client', client_path(@attendance.client), class: 'btn btn-mini btn-warning'
  \|
  = link_to 'Back to lesson', lesson_path(@attendance.lesson), class: 'btn btn-mini btn-warning'